@import '../../../../../assets/colors';

.btn-outline-pink {
  color: $pink;
  border-color: $pink;
  &:hover {
      color: $white;
      background-color: $pink;
  }
}

.field-container > div {
  display: flex;
  align-items: center;
}

.progress-bar {
  background-color: $pink;
<<<<<<< HEAD
=======
}

.active{
  color: $pink;
>>>>>>> 00b3082015ea613c853b5edef49a5efae75bf242
}