<div class="container my-5 margen_superior reviews-container">

<!-- LAYOUT TABLE -->
<div class="container-fluid mt-3 ml-3">
  <div class="table-wrap">
      <table class="table table-hover table-sm text-center">
          <thead>
              <tr>
                  <th class="p-2 table-bg">
                      Nombre
                  </th>
                  <th class="p-2 table-bg">
                      Fecha Inicio
                  </th>
                  <th class="p-2 table-bg">
                      Iteraciones
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td class="p-3 table-bg">
                      Angular Frontend
                  </td>
                  <td class="p-3 table-bg">

                  </td>
                  <td class="p-3 table-bg">
                      6
                  </td>
              </tr>
              <tr>
                  <td class="p-3 table-bg">
                      Backend Java
                  </td>
                  <td class="p-3 table-bg">

                  </td>
                  <td class="p-3 table-bg">
                      6
                  </td>
              </tr>
              <tr>
                  <td class="p-3 table-bg">
                      Backend .Net
                  </td>
                  <td class="p-3 table-bg">

                  </td>
                  <td class="p-3 table-bg">
                      3
                  </td>
            </tr>
          </tbody>
      </table>
  </div>
</div>


</div>
