.footer {
    border-top: solid 1px #d50283;
    background-color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    .footer-text {
        text-align: center;
        font-size: small;
        color: #666666;
        margin-bottom: 0;
        display: flex;
        align-content: center;
        justify-content: center;
        padding-top: 3%;
    }
    figure {
        margin: 0;
        @media screen and (max-width: 1200px) {
            width: 200px;
        }
        @media screen and (min-width: 1200px) and (max-width: 1598.5px) {
            width: 210px;
        }
        @media screen and (min-width: 1600px) {
            width: 220px;
        }         
    }    
}
