<footer class="container-fluid shadow-lg">
  <div class="footer row">
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 py-3">
      <div>
        <img
          src="../assets/img/barcelona-activa.svg"
          class="ml-3 img-fluid"
          alt="Logo Barcelona Activa"
        />
      </div>
    </div>

    <div class="col-8 col-sm-8 col-md-4 col-lg-4 col-xl-4 py-3">
      <p class="footer-text">
        {{'footer.text' | translate }}
      </p>
    </div>

    <div class="col-md-4 col-lg-4 col-xl-4">
      <p></p>
    </div>
  </div>
</footer>
