<div class="m-3">

  <form class="form-inline" action="#">

    <select2 id="search-select"
             class="form-control mr-2 "
             name="search-select"
             (valueChanged)="updateSelection($event)"
             [data]="studentsData"
             [cssImport]="true"
             [options]="select2options">
             <option></option>
    </select2>

    <input [disabled]="selectedStudent ? '' : 'disabled'"
            (click)="onSubmit()"
            class="btn btn-outline-pink"
            type="buton" value="Buscar">

  </form>

</div>
