<div class="container-fluid p-0 shadow-sm fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between ">
    <div class="navbar-brand ml-2 logo">
      <img src="../../../../assets/img/IT-logo.png" height="40" class="d-inline-block align-top"
        alt="Logo IT Academy" />
    </div>
    <div class="pl-3">
      <!-- responsive toggler  -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarIT"
        aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse mainNav justify-content-between" id="navbarIT">
      <ul class="nav nav-pills pt-1 pb-1 pl-2 menuNav" id="pills-tab" role="tablist">
        <!-- Aula presencial -->
        <!--
          <li class="nav-item">
            <a class="black-c nav-link mr-1" routerLink="/classroom-view" routerLinkActive="active">Aula</a>
          </li>
        -->
        <!-- Aula virtual -->
        <li class="nav-item">
          <a class="black-c nav-link mr-1" routerLink="/classroom-virtual-view" routerLinkActive="active">{{'header.item1' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="black-c nav-link mr-1" routerLink="/reviews-view" routerLinkActive="active">{{'header.item2' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="black-c nav-link mr-1" routerLink="/statistics-view" routerLinkActive="active">{{'header.item3' | translate }}</a>
        </li>
        <li class="nav-item">
          <a id="studentsItem" class="black-c nav-link" routerLink="/student-view" routerLinkActive="active">{{'header.item4' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="black-c nav-link" routerLink="/project-view" routerLinkActive="active">{{'header.item5' | translate }}</a>
        </li>
      </ul>
      <div class="d-flex justify-content-lg-around pt-1 pb-1 align-items-center inline-block">
        <div class="d-flex justify-content-between nombre">
          <img [src]="user.portrait | noimage" class="mx-2 img-thumb img-circle" />
          <span class="navbar-text mr-5 mt-2">
            <h5>{{ firstName }} {{ lastName }}</h5>
          </span>
        </div>
        <div class="mr-3">
          <!-- <button (click)="toggleTheme()" type="submit" class="nightMode" title="Night mode" >
            <img src="../../../../assets/img/moon4.svg" height="30" class="d-inline-block align-top"
                alt="Night mode" />
          </button> -->
          <a class="nightMode" aria-label="Night mode icon" title="Night mode" (click)="toggleTheme()">
            <img src="../../../../assets/img/moon4.svg" height="30" class="d-inline-block align-top"
                alt="Night mode" />
          </a>          
        </div>
        <div class="mr-3 selectLanguage-box">
          <select class="selectLanguage"
            [ngModel]="selectedLanguage"
            (ngModelChange)="toogleLanguage($event)">
            <option value="es">
              {{'header.spanishLabel' | translate }}
            </option>
            <option value="en">
              {{'header.englishLabel' | translate }}
            </option>
            <option value="cat">
              {{'header.catalanLabel' | translate }}
            </option>
          </select>
        </div>
        <button (click)="logout()" type="submit" class="btn submit-btn salir for-large-screens">
          <fa-icon [icon]="faSignOutAlt" class="mr-2"></fa-icon>{{ 'header.logout' | translate }}
        </button>
      </div>
    </div>
  </nav>
</div>
