@import "../../../styles.scss";

.navbar {
  // background-color: $white !important;
  // border-bottom: solid 1px $dark-grey;
  .navbar-text {
    //color: $black;
    color: --text-color;
  }
}

button.submit-btn {
  font-size: 1.125em;
  //background-color: $pink;
  background-color: --background-color;
  //color: $white;
  color: --toolbar-color;
  width: 120px;
  height: 40px;
}

button.submit-btn:hover {
  //color: $white;
  color: --toolbar-color;
  text-decoration: underline;
}

.img-thumb {
  width: 60px;
  height: 60px;
}

.img-circle {
  border-radius: 100%;
  width: 60px;
}

// menu

a:hover {
  //color: $white;
  color: --toolbar-color;
  //background-color: $pink;
  background-color: --background-color;
  border-radius: 0.25rem;
}

//icono night mode
.nightMode:hover{
  background-color: transparent;
}

// mostrar la pagina actual
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: transparent !important;
  //color: $pink !important;
  color: --accent-color !important;
}

// Selector de idioma
.selectLanguage-box {
  border-radius: 0.25rem;
  border: 1px solid #d50283;
  text-align: center;
  @media screen and (max-width: 992px) {
    margin-left: auto;
  }
  @media screen and (max-width: 578px) {
    font-size: 1rem;
    width: 100px;
    padding: 0.5rem 0;
  }
  @media screen and (min-width: 578px) {
    font-size: 1.125em;
    width: 120px;
    height: 40px;
    line-height: 40px;
  }
  .selectLanguage {
    border: none;
    background: transparent;
    //color: #d50283;
    color: --accent-color;
    &:hover {
      text-decoration: underline;
    }
    &:focus {
      outline: none;
    }
  }
}
// Grids para cambiar el orden de los elementos del header
@media (max-width: 998px) {
  .navBarGrid {
    display: grid !important;
    max-height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "logo salir"
      "nombre nombre"
      "menuNav menuNav";
  }

  .nombre {
    grid-area: nombre;
    display: inline-block !important;
  }

  .menuNav {
    grid-area: menuNav;
  }

  .logo {
    grid-area: logo;
  }

  .salir {
    grid-area: salir;
    display: inline-block;
    max-width: 8em;
    min-height: 2em;
    margin-right: 0em;
  }
}

@media (min-width: 576px) {
  .for-small-screens {
    display: none;
  }
}

@media (max-width: 575px) {
  .for-large-screens {
    display: none;
  }

  button.submit-btn {
    width: 46px;
  }
}
