<!-- BADGES TABLE -->
<div class="container-fluid mt-4 ml-3">
    <div class="box-wrap">
        <div class="row align-middle">
            <div class="col text-right">
                <span class="badge badge-grey ml-1">{{'table.turnedIn' | translate}}</span>
                <span class="badge badge-blue ml-1">{{'table.checked' | translate}}</span>
                <span class="badge badge-pink ml-1">{{'table.received' | translate}}</span>
                <span class="badge badge-lightgrey ml-1">{{'table.none' | translate}}</span>
            </div>
        </div>
    </div>
</div>

<!-- LAYOUT TABLE -->
<div class="container-fluid mt-3 ml-3">
    <div class="table-wrap">
        <table class="table table-hover table-sm text-center">
            <thead>
                <tr>
                    <th class="first p-2 table-bg">
                        {{'table._student' | translate}}
                    </th>
                    <th title="{{titleExercise.name}}" class="table-bg" *ngFor="let titleExercise of allStudentsList.exercises">
                        {{ titleExercise.name | slice: 0: 12 }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students_ | paginate: {itemsPerPage: 6, currentPage: selectedPage}">
                    <td title="{{student.firstName}} {{student.lastName}}" class="first p-3 table-bg">
                        {{ student.firstName | titlecase | beautifyString | slice: 0: 10 }} {{ student.lastName | titlecase | beautifyString | slice: 0: 10}}
                    </td>
                    <td class="row-size text-center" *ngFor="let exercises of student.exercises; index as i" [ngClass]="[{'No entregado': 'table-bg-default', 'Entregado': 'table-bg-done', 'Corregido': 'table-bg-corrected', 'A revisar': 'table-bg-reviewed'}[ exercises.state ]]">
                        <app-modal [data]="exercises"></app-modal>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- PAGINATION TABLE -->
<div class="container-fluid mt-3 ml-3">
    <div class="box-wrap">
        <div class="row align-middle">
            <div class="col text-right pagination-layout">
                <pagination-controls class="ngx-pagination" (pageChange)="selectedPage = $event" previousLabel="{{'table.previous' | translate}}" nextLabel="{{'table.next' | translate}}"></pagination-controls>
            </div>
        </div>
    </div>
</div>
<!-- Pagination Table Documentation: https://www.npmjs.com/package/ngx-pagination#demo -->