<div class="container my-5 top-margin common-container">
    <ng-container *ngFor="let project of projects">
      <h1 *ngIf="project.id == singleProject">{{ project.name}}</h1>
    </ng-container>
    <div class="row mb-4">
      <div class="col">
        <div class="col-lg-6">
          <span class="font-weight-bold mr-2">Fecha inicial:</span>
          <ng-container *ngFor="let project of projects">
            <span *ngIf="project.id == singleProject">{{project.initialDate | date: 'yyyy-MM-dd'}}</span>
          </ng-container>
        </div>
        <div class="col-lg-6">
          <span class="font-weight-bold mr-2">Número de iteraciones: </span>
          <ng-container *ngFor="let project of projects">
            <span *ngIf="project.id == singleProject">{{project.iterations?.length}}</span>
          </ng-container>
        </div>
          <div class="col-lg-6" *ngIf="prova == 1, else showRed">
            <span class="font-weight-bold mr-2" style="color: seagreen">ACTIVA</span>
          </div>
          <ng-template #showRed>
            <div class="col-lg-6">
              <span class="font-weight-bold mr-2" style="color: red">NO ACTIVA</span>
            </div>
          </ng-template>
      </div>
      <div class="col">
        <div class="col-lg-6">
          <span class="font-weight-bold mr-2">Descripción del proyecto:</span>
          <ng-container *ngFor="let project of projects">
            <p *ngIf="project.id == singleProject">{{ project.description }}</p>
          </ng-container>
        </div>
      </div>
    </div>
  
  
    <ng-container *ngIf='page == 1'>
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>Id Iteración</th>
            <th>Fecha inicial</th>
            <th>Fecha final</th>
            <th>Desarrolladores</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor='let iteration of iterations'>
            <tr (click)="getDevelopers()">
              <td class="align-middle">{{ iteration.id }}</td>
              <td class="align-middle">{{ iteration.initialDate | date: 'yyyy-MM-dd'}}</td>
              <td class="align-middle">{{ iteration.endDate | date: 'yyyy-MM-dd'}}</td>
              <td class="align-middle">sin datos 
                <!-- <button type="button" class="btn submit-btn full-container" (click)="seeDevelopers(templateDevelopers)">
                  Ver
                </button> -->
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </ng-container>
    
  
    <ng-container *ngIf='page == 2'>
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Ex-Alumno?</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-middle"></td>
            <td class="align-middle"></td>
            <td class="align-middle"></td>
          </tr>
        </tbody>
        
      </table>
    </ng-container>
    
  
  </div>
  
  <!-- TEMPLATE FOR POPUP -->
  
  <!--
     Not active if the button VER of the after table isn't active.
     Only need to take off the comments of the table. 
  -->
  
  <ng-template #templateDevelopers let-modal>
    <div class="modal-header">
      <h1>Desarrolladores</h1>
      <button type="button" class="close pull-right buttonX" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <h3>
        <div class="text-center">
          Iteración nº
        </div>
      </h3>
      <table class="table">
        <tbody>
          <tr class="text-center">
            <th>Manolito Gafotas</th>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>