@import '../../../../styles.scss';

.top-margin {
  padding-top: 100px;
}

.common-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 79px;
}

// TABLE


h1 {
    color: $pink;
    margin-bottom: 1em;
}

h2 {
    color: $black;
}

p {
    color: $black;
}

// BUTTON

.submit-btn {
  font-size: 0.9em;
  background-color: $pink;
  color: $white;
}
.submit-btn:hover {
  text-decoration: underline;
}