<div class="container-fluid mt-3">
  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th>Ejercicios</th>
        <th>Estado</th>
        <th>Fecha</th>
        <th>Cambiar estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exercise of exercises">
        <td class="align-middle">{{ exercise.name | titlecase }}</td>
        <td class="align-middle">{{ exercise.statusName | titlecase }}</td>
        <td class="align-middle">{{ exercise.statusDate | date:"dd/MM/yyyy" }}</td>
        <td class="align-middle">
          <button type="button" class="btn submit-btn full-container" 
            (click)="openStatusUpdateModal(statusUpdateModal, exercise.id)">
            Cambiar estado
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-exercise-modal (statusUpdate)="updateExerciseStatus($event)" #statusUpdateModal>
</app-exercise-modal>