<div class="container-fluid mt-3">
  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th>{{ 'exercises._exercises' | translate }}</th>
        <th>{{ 'exercises._state' | translate }}</th>
        <th>{{ 'exercises._date' | translate }}</th>
        <th>{{ 'exercises.change_state' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exercise of exercises">
        <td class="align-middle">{{ exercise.name | titlecase }}</td>
        <td class="align-middle" [ngClass]="[{'No entregado': 'table-bg-default', 'Entregado': 'table-bg-done', 'Corregido': 'table-bg-corrected', 'A Revisar': 'table-bg-reviewed', 'Finalizado': 'table-bg-finished'}[ exercise.statusName | titlecase ]]">{{ exercise.statusName | titlecase }}</td>
        <td class="align-middle">{{ exercise.statusDate | date:"dd/MM/yyyy" }}</td>
        <td class="align-middle">
          <button type="button" class="btn submit-btn full-container" 
            (click)="openStatusUpdateModal(statusUpdateModal, exercise)">
            {{ 'exercises.change_state' | translate }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-exercise-modal (statusUpdate)="updateExerciseStatus($event)" #statusUpdateModal>
</app-exercise-modal>