<div class="container-fluid text-justify">
  <h2 class="p-4">Alumnos con más de 8 días sin entregar trabajos</h2>

  <aside class="container reference d-flex justify-content-around">
    <div *ngFor="let item of itinerariesDeliveries | slice:0:3; let i = index" class="reference-box">
      <div [ngClass]="{'frontend':i === 2, 'backend':i === 0, 'net':i === 1}" class="virtual-circles-box">
        <span class="number-circle">{{ itinerariesDeliveries[i][0] }}</span>
      </div>
      <p class="pt-2 strong">{{ itineraries[i][0] }}</p>
    </div>
  </aside>
</div>





